@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-color: #623cea;
  --second-color: #5e239d;
  --text-color: #7e7e7e;
  --border-color: #eeeeee;
  --bg-color: #ffffff;
  --bg-color-sec: #dff2fd;
  --icon-color: #d6d6d6;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

body {
  background-color: var(--bg-color);
  margin: 0 auto;
  font-family: 'Gilroy-Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin: 0 auto;
  gap: 30px;
  width: 1200px;
}

nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding: 20px;
  grid-row: 1/2;
  background-color: white;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 50px;
  box-sizing: border-box;
}

li {
  width: 100%;
  font-family: 'Poppins', sans-serif;

  font-size: 1.2rem;
  gap: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 0;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 3.3rem;
  font-family: 'Gilroy-Bold', sans-serif;
}
h3 {
  margin: 0;
  font-size: 2rem;
  font-family: 'Gilroy-Bold', sans-serif;
}

p {
  color: var(--text-color);
  font-size: 1.1rem;
}

button {
  margin-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 25px;
  color: white;
  font-size: 1.1rem;
  border-radius: 15px;
  background-color: var(--main-color);
  font-family: 'Gilroy-Medium', sans-serif;
}

input {
  width: 50%;
  height: 60px;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

.active {
  color: var(--main-color);
  box-sizing: border-box;
  border-bottom: var(--main-color) solid 3px;
  box-sizing: border-box;
}

.traklist {
  display: grid;
  gap: 10px;
}

.ablum {
  display: flex;
  margin: 0 auto;
  width: 100%;
  gap: 50px;
  margin: 0 auto;
}

.ablums-container {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0;
}

.album-info > h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  color: black;
  margin: 0;
}

.album-info > p {
  font-weight: lighter;
  font-size: 0.8rem;
  color: black;
}

.album-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.types {
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin-right: 20px;
  font-size: 0.9rem;
  background-color: var(--main-color);
}
.track {
  display: flex;
  padding: 10px;
  gap: 15px;
  border-radius: 15px;
}

.track:hover {
  cursor: pointer;
  background-color: #eae8ff;
}

.track > span {
  display: flex;
  align-items: center;
  padding: 10px;
}

.traklist .track:nth-child(even) {
  background-color: #ececec;
}

.traklist .track:nth-child(odd) {
  background-color: #f7f7f7;
}
.track > div > p {
  color: black;
}

.album-cover {
  border-radius: 15px;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.editors-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 10px;
}

.editors-container > p {
  width: 65%;
  color: black;
}

.editors-container > h1 {
  margin-top: 30px;
  font-size: 2.5rem;
  color: black;
}

.items-in-cart {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: scroll;
  gap: 10px;
}

.items-in-cart::-webkit-scrollbar {
  display: none;
}

.checkout > div > p {
  color: black;
  font-size: 2rem;
}
.checkout > div > h2 {
  padding: 0;
  margin: 0;
}

.checkout {
  position: absolute;
  top: 130px;
  right: 50px;
  z-index: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 30px;
  width: 400px;
  border: var(--border-color) solid 1px;
  background-color: var(--border-color);
  height: 800px;
}

.buttons {
  display: flex;
  gap: 10px;
}
.buttons > button {
  width: 300px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: white;
  border-radius: 25px;
  background-color: var(--main-color);
  padding: 15px;
  gap: 15px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.quantity > button {
  background-color: white;
  color: #5e239d;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
}

.quantity {
  gap: 10px;
  margin: 5px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.subtotal {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.text {
  text-align: left;
}

.images {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-size: cover;
}

.hero {
  padding: 30px;
  margin: 0 auto;
  color: white;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 15px;
  background-image: url(https://i.ytimg.com/vi/pNZxp_m7Ers/maxresdefault.jpg);
  background-position: left;
  background-repeat: no-repeat;
  grid-column: 2/3;
  box-sizing: border-box;
}

.sidebar > div > h3 {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar > div > h3 > .fa-solid {
  font-size: 3rem;
  color: var(--main-color);
}

.sidebar {
  padding: 0px 30px;
  display: grid;
  grid-template-rows: 0.5fr 6fr;
  align-items: center;
  border-right: var(--border-color) solid 1px;
  grid-row: 1/3;
  background-color: var(--bg-color);
}

.store-container > p {
  width: 65%;
  color: black;
}

.remove-from-cart {
  background-color: white;
  color: #5e239d;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  align-self: flex-start;
  border-radius: 10px;
}

.homepage-text {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 550px;
}

.image {
  width: 300px;
  height: 100%;
  border-radius: 50px;
  background-color: var(--main-color);
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  place-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.product-details {
  width: 100%;
  background-color: var(--second-color);
  color: white;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.purchase-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.product-details > button {
  border-radius: 15px;
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  font-size: 0.8rem;
  position: absolute;
  top: 175px;
  right: 0;
}

.price {
  display: flex;
  flex-direction: column;
}

.store-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 50px;
  width: 1200px;
  margin: 0 auto;
}

.store-container > div > p {
  margin-top: 10px;
  width: 70%;
  color: black;
}

#product {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
  width: 250px;
  max-height: 350px;
  border-radius: 20px;
  position: relative;
  background-color: white;
}

#product,
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 0;
  color: white;
}

#product,
h4 {
  font-size: 1.5rem;
  margin: 0;

  text-transform: capitalize;
}

#description {
  width: 70%;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  max-height: 32px;
}

#price {
  color: white;
  font-weight: bold;
  font-weight: bolder;
  font-size: 1.5rem;
}

#Image {
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#shopping-cart {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 60px;
  box-sizing: border-box;
  padding: 30px;
  background-color: var(--main-color);
}

#shopping-cart > span {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: white;
  right: 40px;
  bottom: 0px;
  font-size: 1rem;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  font-family: 'Gilroy-Regular', sans-serif;
  background-color: var(--second-color);
}
